NEXT_PUBLIC_ENVIRONMENT="development"
NEXT_PUBLIC_MAIN_SERVICE_URL="http://localhost:5555"
NEXT_PUBLIC_CDN_BASE_URL="https://cdn.managerenta.com"
NEXT_PUBLIC_CDN_ASSETS_VERSION=""
COOKIE_DOMAIN="localhost"